body{
    background-color: #BDDDF1;
    height: 100vh;
    margin: 0px;
}

h1{
    font-size: 7rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
  }

.alignplayers{
    display: flex;
    justify-content: space-around;
  }

h4{
    font-size: 2.5rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
  }

p{
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 0px;
  }
  
h1,h4,p{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #1d4b67;
}